{% extends "JGPlatformBundle::layout.html.twig" %}

{% block title %}
  Ajouter une annonce - {{ parent() }}
{% endblock %}

{% block jgplatform_body %}

  <h2>Ajouter une annonce</h2>

  {{ include("JGPlatformBundle:Advert:form.html.twig") }}

 <p>
    <a href="{{ path('jg_platform_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'accueil
    </a>
  </p>

{% endblock %}